<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Butterfly Mixer Grinder</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
</head>

<body>

    <div class="container my-3">

        <!-- Top Bar -->
        <div class="row align-items-center">
            <div class="col-md-11 text-start">
                <a href="../index.html" class="btn btn-dark">⬅ Back to Home</a>
            </div>
            <div class="col-md-1 text-end">
                <a class="nav-link active d-flex align-items-center me-3" href="#">
                    <i class="fa-solid fa-cart-shopping me-1"></i>
                    Cart(<span id="cartCount">0</span>)
                </a>
            </div>
        </div>

        <!-- Product Section -->
        <div class="row align-items-center my-5">

            <!-- Product Image -->
            <div class="col-md-6 text-center">
                <img src="../assets/img/img2.jpg" class="img-fluid rounded" alt="Butterfly Mixer">
            </div>

            <!-- Product Details -->
            <div class="col-md-6">
                <h1>Butterfly Smart Mixer Grinder</h1>

                <p class="text-muted">
                    Butterfly 750 Watts Mixer Grinder with powerful motor, durable stainless steel jars,
                    and multi-purpose functionality for all your kitchen needs.
                </p>

                <p>⭐⭐⭐⭐☆ (4.3)</p>

                <h3 class="text-success">₹2,899</h3><br>

                <!-- Buttons -->
                <button class="btn btn-warning rounded-pill px-4 me-2" onclick="addToCart()">
                    Add to Cart
                </button>

                <button class="btn btn-success rounded-pill px-4" onclick="buyNow()">
                    Buy Now
                </button>

            </div>

        </div>

       

    <!-- JS -->
    <script src="../assets/js/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>